<h1>Скидання паролю</h1>
<form method="post" action="https://localhost:5000/account/resetpassword">
    <input style="display: none;" type="text" name="id" value="userId" hidden>
    <input style="display: none;" type="text" name="token" value="valueToken" hidden>

    <div style="margin-top: 5px;">
        <label for="password">Новий пароль</label>
    </div>
    <div style="margin-top: 5px;">
        <input type="password" name="password" />
    </div>
    <div style="margin-top: 5px;">
        <input type="submit" value="Відправити" />
    </div>
</form>
